In [58]:
import pandas as pd

## Melt Habitat Outcomes

In [108]:
df = pd.read_excel('../data/Database of Expected Projects.xlsx', 'habitat_outcomes', usecols="A, E:O")

C:\Users\Erik\miniconda3\envs\dwr-sidewinder-nb\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)

In [109]:
df = df.melt(id_vars=['parcel_id', 'verified', 'unit'], 
                     var_name='habitat_type', value_name='quantity').dropna(subset=['quantity'])
df = df.reset_index().rename({'index':'id'}, axis=1)
df = df[['parcel_id', 'verified', 'quantity', 'unit', 'habitat_type']]
df

   parcel_id  verified  quantity   unit          habitat_type
0          1     False    167.00  acres  floodplain_transient
1          3     False    102.86  acres              riparian
2          2     False     12.00  miles      sra_natural_bank

## Melt Project Mitigation

In [88]:
df = pd.read_excel('../data/Database of Expected Projects.xlsx', 'project_mitigation', usecols="A,E:H")
df = df.melt(id_vars=['parcel_id', 'unit'], 
                     var_name='mitigation_type', value_name='quantity').dropna(subset=['quantity'])
df = df[['parcel_id', 'quantity', 'unit', 'mitigation_type']]
df

C:\Users\Erik\miniconda3\envs\dwr-sidewinder-nb\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)

Empty DataFrame
Columns: [parcel_id, quantity, unit, mitigation_type]
Index: []

## Melt projects_project_elements

In [106]:
df = pd.read_excel('../data/Database of Expected Projects.xlsx', 'projects', usecols="A, Z, AB")
df = df.melt(id_vars=['id'], var_name='element_name', value_name='project_element')\
            .dropna(subset=['project_element'])
df = df.drop('element_name', axis=1)\
            .rename({'id': 'project_id'}, axis=1)
df

C:\Users\Erik\miniconda3\envs\dwr-sidewinder-nb\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)

    project_id  project_element
0            1              2.0
23           2              1.0